@import "frappe.css";

#waybar {
    background: @base;
    color: @text;
    border-bottom: 1px solid @blue;
}

* {
    font-family: "SourceCodePro Medium", sans-serif;
    font-size: 10px;
}

/* Workspaces */
#workspaces {
    margin-left: 2px;
    padding: 2px;
}

#workspaces button {
    padding: 1px 4px;
    border-radius: 5px;
    background: @surface0;
    color: @text;
    border: none;
}

#workspaces button.active {
    background: @blue;
    color: @text;
}

/* Modules */
#clock, #cpu, #memory, #battery, #network {
    padding: 0 5px;
    color: @subtext1;
}

/* Battery status */
#battery {
    color: @text;
}

#battery.charging {
    color: @green;
}

#battery.warning {
    color: @yellow;
}

#battery.critical {
    color: @red;
}

/* Network */
#network.disconnected {
    color: @maroon;
}

/* Apply teal color */
#cpu, #memory {
    color: @teal;
}

#custom-player{
    color: @teal;
}

