@import "myStyle.css";

* {
    font-family: "Source Code VF", "Source Code Pro", monospace;
    font-size: 9px;
    font-weight: normal;
}



#waybar {
    background: @base;
    color: @text;
    border-bottom: 1px solid @blue;
}


/* Workspaces */
#workspaces {
    margin-left: 2px;
    padding: 3px;
}

#workspaces button {
    padding: 0px 5px;
    border-radius:5px;
    background: @surfa;
    color: @text;
    border: none;
}

#workspaces button.active {
    background: @outline_selected;
    color: @text;
}

/* Modules */
#clock, #cpu, #memory, #battery, #network {
    padding: 0 5px;
    color: @subtext1;
}

/* Battery status */
#battery {
    color: @text;
}

#battery.charging {
    color: @green;
}

#battery.warning {
    color: @yellow;
}

#battery.critical {
    color: @red;
}

/* Network */
#network.disconnected {
    color: @maroon;
}

/* Apply teal color */
#cpu, #memory {
    color: @teal;
}

#custom-player{
    color: @teal;
}

